.openIconContainer :global(.vtex-button):hover{
    background: inherit;
}

.openIconContainer :global(.vtex-button):active{
    background: inherit;
}

.minicartCheckoutButton :global(.vtex-button){
    background: #CF478A;
    border-radius: 0px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.minicartProductListContainer{
    font-family: 'Roboto', sans-serif;
}