.submenuWrapper--isOpen{
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;
    box-shadow: 2px 2px 2px rgba(61, 61, 61, 0.15);
}

@media screen and (min-width: 991px){
    .submenuWrapper--isOpen .submenu :global(.vtex-flex-layout-0-x-flexRow){
        width: 100vw;
        padding-left: 200px;
        padding-right: 200px;
    }
}

.submenuWrapper--isOpen .styledLinkContent{
    text-transform: capitalize;
    font-weight: 400 !important;
    font-size: .7rem !important;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 9px;
}

.menuItem--titulo-item-menu .styledLinkContent--titulo-item-menu{
    font-weight: 600 !important;
    font-size: 1rem !important;
}

/* p e r s o n a l  c l i c k*/

:global(.vtex-flex-layout-0-x-flexRow--menu-link)
.menuContainer
:global(.vtex-login-2-x-container)
:global(.vtex-button):hover,
:global(.vtex-flex-layout-0-x-flexRow--menu-link)
.menuContainer
:global(.vtex-login-2-x-container)
:global(.vtex-button):active,
:global(.vtex-flex-layout-0-x-flexRow--menu-link)
.menuContainer
:global(.vtex-login-2-x-container)
:global(.vtex-button):focus{
    background-color: inherit;
}

:global(.vtex-flex-layout-0-x-flexRow--menu-link)
.menuContainer--left
:global(.vtex-login-2-x-container)
:global(.vtex-button__label){
    padding-left: 5px !important;

}